* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    overflow: hidden;
}

/** ヘッダーが34px、フッターが20px */
#input_area {
    padding: 34px 0px 20px 0px;
    height: 100%;
}

#input_txt {
    width: 100%;
    height: 100%;
}

#header_fixed {
    position: fixed;
    height: 34px;
    width: 100%;
}

#footer_fixed {
    position: fixed;
    height: 20px;
    width: 100%;
    bottom: 0px;
    background-color: #337ab7;
    color: #eeeeee;
    font-size: 10;
}